.sponsorSection {
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 2rem;
  padding: 2rem;
}

.sponsorSectionButton {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.sponsorLink {
  margin-top: 3rem;
  margin: 1rem;
}

.sponsorButton {
  margin-top: 2rem;
  overflow: hidden;
  white-space: pre-wrap;
  word-wrap: break-word;
}



.sponsorSectionLogos {
  /* display: flex; */
  justify-content: center;
  align-items: center;
  /* flex-wrap: wrap; */
}

.sponsorSubSectionLogos{
}

.sponsorMainLogo {
  width: 60vh;
  height: auto;
  margin: 2rem;
}


.sponsorGoldLogo {
  width: 30vh;
  height: auto;
  margin: 2rem;
}

.sponsorSilverLogo {
  width: 20vh;
  height: auto;
  margin: 2rem;
}

.sponsorBronzeLogo {
  width: 15vh;
  height: auto;
  margin: 2rem;
}

.sponsorSupportLogo {
  width: 10vh;
  height: auto;
  margin: 2rem;
}