@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

@import "bootstrap/dist/css/bootstrap.min.css";
/* Remove the import statement */

/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

:root {
  --ifm-color-primary: hsl(345, 50%, 70%);
  --ifm-color-primary-dark: hsl(345, 50%, 60%);
  --ifm-color-primary-darker: hsl(345, 50%, 50%);
  --ifm-color-primary-darkest: hsl(345, 50%, 40%);
  --ifm-color-primary-light: hsl(345, 50%, 75%);
  --ifm-color-primary-lighter: hsl(345, 50%, 80%);
  --ifm-color-primary-lightest: hsl(345, 50%, 85%);
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
  --ifm-font-family-base: "Montserrat";
  --ifm-font-family-monospace: "Roboto Mono";
  --custom-hover-div-background-color: #92a0dc;
  --custom-header-gradient-color-start: hsla(229, 51%, 72%, 0.45);
  --custom-header-gradient-color-end: hsla(229, 51%, 72%, 0.98);
  --custom-theme-color-start: #92a0dc;
  --custom-theme-color-middle: #e0a2b2;
  --custom-theme-color-end: #ffc8a2;
}

/* Set the global font to Montserrat */
header {
  font-family: "Montserrat", sans-serif;
}
body {
  font-family: "Open Sans", sans-serif;
}
.navbar {
  font-family: "Montserrat", sans-serif;
  background: linear-gradient(
    90deg,
    #92a0dc,
    #e0a2b2,
    #ffc8a2,
    #e0a2b2,
    #92a0dc
  );
  color: white;
}
.navbar__link,
.navbar__title {
  color: white;
}

.navbar-sidebar__brand {
  background-color: #1c3661;
}

img {
  width: auto;
  height: auto;
}
